{% load wagtailcore_tags %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<h1>{{ page.title }}</h1>

{% if page.description %}
    <div class="page-description">
        {% include_block page.description %}
    </div>
{% endif %}

<div id="map" style="height: 500px;"></div>

<script>
    const map = L.map('map').setView([0, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    const bounds = [];

    {% for p in page.points.all %}
    (() => {
        const lat = {{ p.location.y|stringformat:"f" }};
        const lon = {{ p.location.x|stringformat:"f" }};
        let msgHtml = "<b>Нет сообщений</b>";
        {% with msgs=p.messages.all %}
            {% if msgs %}
                msgHtml = "<ul>{% for m in msgs %}<li>{{ m.text|escapejs }}</li>{% endfor %}</ul>";
            {% endif %}
        {% endwith %}

        L.marker([lat, lon]).addTo(map)
            .bindPopup(`<b>ID: {{ p.pk }}</b><br>[${lat}, ${lon}]<hr>${msgHtml}`);
        bounds.push([lat, lon]);
    })();
    {% endfor %}

    if (bounds.length) map.fitBounds(bounds);
</script>